[Unit]
Description=CloudStack init script
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=root
ExecStart=/usr/bin/cloudstack-init

[Install]
WantedBy=multi-user.target


