[Unit]
Description=CloudStack reset password Service
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=root
ExecStart=/usr/bin/cloud-set-guest-password

[Install]
WantedBy=multi-user.target
